<!DOCTYPE html>
<html>
<head>
	<title>Users Ujian Praktikum Arrizal_1174070</title>
</head>
		<body>
			<h1>
				Here are your users : Arrizal_1174070
			</h1>
			{% for video in allvideos %}
			<p>
				{{ video.id }}. Users info
			</p>
				<ul>
					<li>
						First Name : {{ video.first_name}}
					</li>
					<li>
						Last Name : {{ video.last_name}}
					</li>
					<li>
						email : {{ video.email}}
					</li>				
				</ul>
			{% endfor %}
		</body>
</html>